   
        .board{
            background-color: #1abc9c;
            padding: 8%;
            font-family: Geneva,Tahoma,Verdana,sans-serif;
            color: #ffffff;
            font-size: 130%;
            min-height: 75%;
            position: relative;
            border: 3px solid #73AD21;
            border-radius: 5%;
        }
        body {
            padding-top: 5%;
            line-height: 1.8;
            background-color: #d4e5e6;
            color: #4a4a4a;
        }
         .bg-4 { 
            background-color: #2f2f2f; /* Black Gray */
            color: #fff;
            border-radius: 5%;
         }
         .divBot{
             padding-top: 5%;
             
         }

    