<p>Welcome To Control Panel</p>
<p><a href="#/login">Logout</a></a></p>

<div class="row" ng-controller="BookingAdminCtrl">
    <div class="col-lg-12 text-left">
        <label>Search: <input ng-model="searchText"></label>
        <br>
        <table class="table table-default table-striped table-wrapper">
            <thead>
                <tr>
                    <th><h6>First Name</h6></th>
                    <th><h6>Last Name</h6></th>
                    <th><h6>Birth Date</h6></th>
                    <th><h6>From</h6></th>
                    <th><h6>To</h6></th>
                    <th><h6>Travel Date</h6></th>
                    <th><h6>Mobile</h6></th>
                    <th><h6>E-mail</h6></th>
                    <th><h6>Paied</h6></th>
                    <th><h6>Done</h6></th>
                    <th ng-hide="true"><h6>Booking Date</h6></th>
                    <th><h6>Delete</h6></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="passenger in passengers | orderBy: '-bookDate' | filter:searchText">
                    <td>{{passenger.firstName}}</td>
                    <td>{{passenger.lastName}}</td>
                    <td>{{passenger.birthDate}}</td>
                    <td>{{passenger.fromCity}}</td>
                    <td>{{passenger.toCity}}</td>
                    <td>{{passenger.travelDate}}</td>
                    <td>{{passenger.mobilePhone}}</td>
                    <td>{{passenger.email}}</td>
                    <td>
                        <input ng-if="passenger.paied" type="checkbox" ng-click="isPaied(passenger);" checked>
                        <input ng-if="!passenger.paied" type="checkbox" ng-click="isPaied(passenger);" unchecked>
                    </td>
                    <td>
                        <!-- <a class="btn btn-success" ng-click="showEditForm(passenger)">Edit</a> -->
                       
                        <input ng-if="passenger.done" type="checkbox" ng-click="isDone(passenger);" checked>
                        <input ng-if="!passenger.done" type="checkbox" ng-click="isDone(passenger);" unchecked>
                    </td>
                    <td ng-hide="true">{{passenger.bookDate}}</td>
                    <td> <a class="btn btn-danger" ng-click="removePassenger(passenger)"><i class="fa fa-trash"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
